/* ========== Variables ========== */
$main-font: Roboto, sans-serif;
$title: #000000; /* description of films and name film*/
$secondary-title: #FF6B08; /*колір тексту жанру фільму і року випуску */
$text: #FFFFFF; /*колір тексту в header & orange button*/
$secondary-text: #545454; /* колір тексту в footer */
$modal-list: #8C8C8C;
$bcg-header: rgba(0, 0, 0, 0.56);
$bcg-home: #E5E5E5;
$bcg-footer: #F7F7F7;
$search-error: #FF001B;
$button-color: #FF6B01;
$backdrop: #818181
/* ========== End Variables ========== */
