/* ========== Variables ========== */
$main-header-text-color: #fff;
$main-header-underline-color: #ff6b08;
$main-header-bottom-underline-color: #fff;
$main-header-errmsg-color: #ff001b;
$main-header-background-overlay-color: rgba(0, 0, 0, 0.56);

$main-font: Roboto, sans-serif;
$white: #FFFFFF;
$text: #000000;
$bcg-header: rgba(0, 0, 0, 0.56);
$bcg-home: #E5E5E5;
$bcg-footer: #F7F7F7;
$orange: #FF6B08;
$text-footer: #545454;
$search-error: #FF001B;
$modal-text-item: #8C8C8C;
$modal-orange: #FF6B01;
$gray: #818181
/* ========== End Variables ========== */
