/* ========== Variables ========== */
$white: #FFFFFF;
$text: #000000;
$bcg-header: rgba(0, 0, 0, 0.56);
$bcg-home: #E5E5E5;
$bcg-footer: #F7F7F7;
$orange: #FF6B08;
$text-footer: #545454;
$search-error: #FF001B;
$modal-text-item: #8C8C8C;
$modal-orange: #FF6B01;

/* ========== End Variables ========== */
