<section class="main-header">
    <div class="main-header-container">
        <nav class="main-header-nav">
            <a class="logo link">
                <svg width="24" height="24" class="main-header-svg-icon">
                    <use href="./images/sprite.svg#film"></use>
                </svg>
                <span class="logo-text">Filmoteka</span>
            </a>
            <ul class="header-navlist list">
                <li class="header-navlist-elem home">
                    <a class="navlist-elem-link">Home</a>
                </li>
                <li class="header-navlist-elem">
                    <a class="navlist-elem-link">my library</a>
                </li>
            </ul>
        </nav>

        <div class="main-header-search-wrapper">
            <form class="search-form" id="search-form">
                <input type="text" class="main-header-search" name="main-header-input" autocomplete="off"
                    placeholder="Поиск фильмов" />
                <span class="main-header-search-for-tabdesc">
                    <svg width="24" height="24" class="main-header-searchsvg-icon">
                        <use href="./images/sprite.svg#search"></use>
                    </svg>
                </span>
                <p class="main-header-errmsg eemsg-hide">
                    Search result not successful. Enter the correct movie name and
                </p>
            </form>
        </div>
    </div>
</section>