<section class="header">
    <div class="header__container">
        <nav class="header__nav">
            <a class="logo link">
                <svg width="24" height="24" class="logo__svg">
                    <use href="./images/sprite.svg#film"></use>
                </svg>
                <span class="logo__text">Filmoteka</span>
            </a>
            <ul class="header__navlist list">
                <li class="header__navlist-elem home">
                    <a class="header__navlist-elemlink">Home</a>
                </li>
                <li class="header__navlist-elem">
                    <a class="header__navlist-elemlink">my library</a>
                </li>
            </ul>
        </nav>

        <div class="header__search-wrapper">
            <form class="header__search-form" id="header__search-form">
                <input type="text" class="header__search-input" name="header__search-input" autocomplete="off"
                    placeholder="Поиск фильмов" />
                <span class="header__search-spansizer">
                    <svg width="24" height="24" class="header__search-svg">
                        <use href="./images/sprite.svg#search"></use>
                    </svg>
                </span>
                <p class="header__errmsg header__errmsg-hide">
                    Search result not successful. Enter the correct movie name and
                </p>
            </form>
        </div>
    </div>
</section>