<section class="mylib-header">
    <div class="mylib-header__container">
        <nav class="mylib-header__nav">
            <a class="logo link mylib-header__logo">
                <svg width="24" height="24" class="logo__svg">
                    <use href="./images/sprite.svg#film"></use>
                </svg>
                <span class="logo__text">Filmoteka</span>
            </a>
            <ul class="mylib-header__nav-list list">
                <li class="mylib-header__item">
                    <a class="mylib-header__link">Home</a>
                </li>
                <li class="mylib-header__item mylib">
                    <a class="mylib-header__link">my library</a>
                </li>
            </ul>
        </nav>

    <div class ="mylib-header__container-buttons">
        <button class="mylib-header__button-watched button" type="button" data-query-watched>Watched</button>
        <button class="mylib-header__button-queue button" type="button" data-query-queue>Queue</button>
    </div>

    </div>
</section>