<section class="section gallery">
  <div class="container">
    <ul class="gallery__list">
      <include src="./partials/test-movie-card-template.html"></include>
    </ul>
    <div class="page-switcher">
      <include src="./partials/test-switcher-page.html"></include>
    </div>
  </div>
</section>

<!-- <section class="section main-page">
  <div class="container">
    <ul class="card-set">
      <include src="./partials/test-movie-card-template.html"></include>
    </ul>
    <div class="page-switcher">
      <include src="./partials/test-switcher-page.html"></include>
    </div>
  </div>
</section> -->
