<li class="card">
  <div class="card__thumb">
    <img src="#" alt="name" class="card__image">
  </div>
  <div class="card__content">
    <h2 class="card__title">greyhound</h2>
    <p class="card__description">
      Drama, action | 2020
    <span class="card__rating">9.5</span>
    </p>
  </div>
</li>
<li class="card">
  <div class="card__thumb">
    <img src="#" alt="name" class="card__image">
  </div>
  <div class="card__content">
    <h2 class="card__title">monster hunter</h2>
    <p class="card__description">
      Drama, action | 2020
      <span class="card__rating">10.0</span>
    </p>
  </div>
</li>
<li class="card">
  <div class="card__thumb">
    <img src="#" alt="name" class="card__image">
  </div>
  <div class="card__content">
    <h2 class="card__title">greyhound</h2>
    <p class="card__description">
      Drama, action | 2020
    <span class="card__rating">7</span> 
    </p>
  </div>
</li>
<li class="card">
  <div class="card__thumb">
    <img src="#" alt="name" class="card__image">
  </div>
  <div class="card__content">
    <h2 class="card__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
    <p class="card__description">Drama, Comedy | 2019</p>
  </div>
</li>
<li class="card">
  <div class="card__thumb">
    <img src="#" alt="name" class="card__image">
  </div>
  <div class="card__content">
    <h2 class="card__title">monster hunter</h2>
    <p class="card__description">Drama, action | 2020</p>
  </div>
</li>
<li class="card">
  <div class="card__thumb">
    <img src="#" alt="name" class="card__image">
  </div>
  <div class="card__content">
    <h2 class="card__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
    <p class="card__description">Drama, Comedy | 2019</p>
  </div>
</li>
<li class="card">
  <div class="card__thumb">
    <img src="#" alt="name" class="card__image">
  </div>
  <div class="card__content">
    <h2 class="card__title">greyhound</h2>
    <p class="card__description">Drama, action | 2020</p>
  </div>
</li>
<li class="card">
  <div class="card__thumb">
    <img src="#" alt="name" class="card__image">
  </div>
  <div class="card__content">
    <h2 class="card__title">monster hunter</h2>
    <p class="card__description">Drama, action | 2020</p>
  </div>
</li>